{% extends "main.twig" %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
<h2 class="d-flex justify-content-center"><?= $title ?></h2>
<div class="goods-layout container d-flex flex-column flex-wrap justify-content-around">
    {% for key, good in goods  %}
        <div class="card-position card">
            <div class="card-body d-flex flex-row align-items-center justify-content-between">
                <h5 class="card-title col-6">{{ good.name|e }}</h5>
                <p class="card-text">{{ good.count|e }} шт. </p>
                <p class="card-text">{{ good.price|e }} руб.</p>
                <a href="/cart/drop/?id={{ key }}" class="btn btn-danger p-10">Удалить</a>
            </div>
        </div>

    {% else %}
        <h3>Корзина пуста</h3>
    {% endfor %}

    <h4>Итого: {{ total }} руб.</h4>

    <form action="/cart/order/" method="post">
        <div class="form-row">
            <div class="col">
                <input type="email" required class="form-control" placeholder="E-mail" name="email">
            </div>
            <div class="col">
                <input type="text" required class="form-control" placeholder="Адрес доставки" name="address">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Оформить заказ</button>

    </form>
</div>
{% endblock %}